@{
    ViewBag.Title = "Página principal";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            <p>
                Selecione uma das opções acima para interagir com a API do GitHUB. 
            </p>
        </div>
    </section>
}
